.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    right: 0; top: 0;
    background-color: #ff0000;
    padding: 20px;
    color: white;
    text-align: center;
}

.sidebar h2 {
    color: white;
}